<h1> Rails UI Patterns framework</h1>


<h2>
  CSS Structure
</h2>
<ul>
  <li>
    /application/
  </li>
  <li>
    <ul>
      <li>
        structure.css
      </li>
      <li>
        layout.css
      </li>
    </ul>
  </li>
  <li>
    /plugins/
  </li>
  <li>
    <ul>
      <li>
        someJQueryDefaultPluginStyles.css
      </li>
    </ul>
  </li>
  <li>
    /patterns/
  </li>
  <li>
    <ul>
      <li>
        action_icons.css
      </li>
      <li>
        lightbox.css
      </li>
    </ul>
  </li>
  <li>
    /views/
  </li>
  <li>
    <ul>
      <li>
        home.css
      </li>
      <li>
        page.css
      </li>
    </ul>
  </li>
    
    
</ul>